.dropdown-menu > li, .navbar-right > li {
    cursor: pointer;
}

.user-menu {
    margin-right: 0px;
}

.dropdown-menu {
    min-width: 55px;
}

.login-facebook {
    background-image: url(/images/facebook_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 11px 11px 0 0;
    width: 15px;
}

#logoutForm {
    display: none;
}

.form-log {
    padding: 14px 10px 0 0;
}

.menu-photo {
    padding: 4px 5px 0 0;
}

    .menu-photo img {
        margin-left: 5px;
        border-radius: 100px;
        width: 40px;
        height: 40px;
    }

        .menu-photo img:hover {
            cursor: pointer;
        }

/***Settings***/

.settings-info {
    display: table;
    width: 500px;
}

    .settings-info > div {
        display: table-row;
    }

        .settings-info > div > div {
            padding: 5px;
            display: table-cell;
            vertical-align: top;
        }

            .settings-info > div > div:first-child {
                text-align: right;
            }

.settings-edit {
    visibility: hidden;
}

.settings-info label {
    margin-right: 5px;
}

.settings-info input, .settings-info textarea {
    background-color: transparent;
    width: 200px;
    padding: 0;
    border: none;
}

.profile-photo img {
    width: 200px;
    height: 200px;
}

    .profile-photo img:hover {
        cursor: pointer;
        opacity: 0.8;
    }

.profile-photo input {
    display: none;
}



/*.settings-info input:focus {
    outline: solid 1px gray;
}*/

.make-visible {
    visibility: visible;
}

.settings-input-hover {
}

/**************/


/*Add Stuff Form*/
.form-stuff {
    width: 500px;
}

    .form-stuff > form > img {
        width: 200px;
        height: 200px;
    }

    .form-stuff > form > input[type=file] {
        display: none;
    }
/****************/

/***Loading animation***/
.loading {
    pointer-events: none;
    opacity: 0.5;
}

.loading-animation {
    position: absolute;
    right: 48%;
    top: 40%;
    display: none;
    z-index: 100;
    width: 70px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(/images/loading.gif);
}
/**********************/
