.dropdown-menu > li, .navbar-right > li {
    cursor: pointer;
}

.user-menu {
    margin-right: 0px;
}

.dropdown > a {
}

.dropdown-menu {
    min-width: 55px;
}

.login-facebook {
    background-image: url(/images/facebook_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 11px 11px 0 0;
    width: 15px;
}

/***Loading animation***/
.loading {
    pointer-events: none;
    opacity: 0.5;
}

.loading-animation {
    position: absolute;
    right: 48%;
    top: 40%;
    display: none;
    z-index: 100;
    width: 70px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(/images/loading.gif);
}
/**********************/
