@model KPITV.Models.StuffViewModels.StuffViewModel

<script src="~/js/stuff/add.js" asp-append-version="true"></script>

<div class="form-stuff">
    <form method="post" enctype="multipart/form-data" asp-action="Add" asp-controller="Stuff" class="form-group">
        <img src="~/images/stuff/default.png" />
        <input type="file" name="photo" accept="image/*" class="form-control" />
        <label>Name</label><input name="name" class="form-control" />
        <label>Type</label>
        <select id="selectType" name="type" class="form-control">
            @foreach (var type in Model.Types)
            {
                <option value="@type">@type</option>
            }
            <option value="add">Add</option>
        </select>
        <div id="addType">
            <label>New type: </label><input class="form-control" />
        </div>
        <label>Number</label><input name="number" class="form-control" />
        <label>Description</label><textarea name="description" class="form-control"></textarea>
        <label>Owner</label>
        <select id="selectOwner" name="owner" class="form-control">
            @foreach (var owner in Model.Members)
            {
                <option value="@owner.ProfileLink">@owner.OwnerName</option>
            }
            <option value="add">Add</option>
        </select>
        <div id="addOwner">
            <label>Owner: </label><input class="form-control" />
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>