@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Log in";
}
@if (SignInManager.IsSignedIn(User))
{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@UserManager.GetUserName(User)</a>
        <ul class="dropdown-menu">
            <li><a href="/settings" title="Settings">Settings</a></li>
            <li>
                <a onclick="LogOff()">Log Off</a>
                <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="form-horizontal form-log"></form>
            </li>
        </ul>
    </li>
}
else
{
    <li>
        <a href="/Account/ExternalLogin" class="login-vk"></a>
    </li>
}
